body {
    background-color: #f2f2f2; 
    margin: 0;
    padding: 0; 
  }
  
  .container {
    text-align: center;
    padding: 20px; 
  }
  
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px; 
    background-color: white;
    margin: 10px; 
  }
  